<div class="bg-gray-900 font-sans leading-normal tracking-normal text-white">
  <div class="flex h-screen overflow-hidden">
    <div
      class="w-64 bg-gradient-to-t from-gray-900 to-gray-800 rounded-lg shadow-lg divide-y divide-gray-700"
    >
      <!-- app.component.html -->
      <div class="divide-y divide-gray-600 mt-6">
        <div class="text-lg text-gray-300 text-center py-2">Users</div>
        <ul class="divide-y divide-gray-700">
          <li
            *ngFor="let user of users"
            class="p-2 text-sm text-gray-300 flex items-center justify-between"
          >
            {{ user.name }}
            <span class="text-xs text-gray-500">{{
              statusIcon(user.status)
            }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex-1 flex flex-col">
      <div
        class="bg-gradient-to-l from-blue-900 to-blue-800 flex items-center justify-between shadow py-3 px-3"
      >
        <img
          src="/assets/logo.png"
          alt="N@me Dropper Logo"
          class="h-40 border-4 border-blue-500 rounded-xl bg-blue-900"
        />
        <div class="text-[2rem] font-bold text-blue-200 text-center mx-5">
          Get ready to drop some n&#64;mes!
        </div>
        <div></div>
      </div>
      <div
        class="flex-1 bg-gradient-to-br from-gray-800 to-black rounded-t-none shadow overflow-hidden flex flex-col"
      >
        <div class="flex-1 overflow-y-auto p-4">
          <!-- Chat history area -->
          <div
            *ngFor="let msg of messages"
            class="flex items-start mb-4 text-sm"
          >
            <span class="font-bold text-yellow-300"
              >{{ findUserName(msg.userId) }}:&nbsp;</span
            >
            <span [innerHTML]="formatMessage(msg.text)"></span>
          </div>
        </div>
        <mentioner
          [users]="users"
          (messageSubmit)="handleNewMessage($event)"
        ></mentioner>
      </div>
    </div>
  </div>
</div>
<router-outlet />
