<div class="bg-gray-900 font-sans leading-normal tracking-normal text-white">
  <div class="flex h-screen overflow-hidden">
    <!-- User list with diagonal gradient for dark mode -->
    <div
      class="w-64 bg-gradient-to-t from-gray-900 to-gray-800 rounded-lg shadow-lg divide-y divide-gray-700"
    >
      <div class="divide-y divide-gray-600 mt-6">
        <div class="text-lg text-gray-300 text-center py-2">Users</div>
        <ul class="divide-y divide-gray-700">
          <li
            class="p-2 text-sm text-gray-300 flex items-center justify-between"
          >
            Kevin
            <span class="text-xs text-gray-500">🟢</span>
          </li>
          <li
            class="p-2 text-sm text-gray-300 flex items-center justify-between"
          >
            Jeff
            <span class="text-xs text-gray-500">🟢</span>
          </li>
          <li
            class="p-2 text-sm text-gray-300 flex items-center justify-between"
          >
            Julie
            <span class="text-xs text-gray-500">🔴</span>
          </li>
          <li
            class="p-2 text-sm text-gray-300 flex items-center justify-between"
          >
            Bryan
            <span class="text-xs text-gray-500">🟡</span>
          </li>
          <li
            class="p-2 text-sm text-gray-500 flex items-center justify-between"
          >
            Gabbey
            <span class="text-xs text-gray-500">offline</span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Main chat container -->
    <div class="flex-1 flex flex-col border-2 border-orange-500">
      <!-- Enhanced logo and header area with a cleaner look -->
      <div
        class="bg-gradient-to-l from-blue-900 to-blue-800 flex items-center justify-between shadow py-3 px-3"
      >
        <img
          src="/assets/logo.png"
          alt="N@me Dropper Logo"
          class="h-40 border-4 border-blue-500 rounded-xl bg-blue-900"
        />
        <!-- Centered and resized logo -->
        <div class="text-[2rem] font-bold text-blue-200 text-center mx-5">
          Get ready to drop some n&#64;mes!
        </div>
        <div></div>
      </div>
      <!-- Chat window with updated gradient -->
      <div
        class="flex-1 bg-gradient-to-br from-gray-800 to-black rounded-t-none shadow overflow-hidden flex flex-col border-2 border-red-500"
      >
        <div class="flex-1 overflow-y-auto p-4 border-2 border-yellow-500">
          <!-- Chat history area -->
          <div
            class="flex items-start mb-4 text-sm border-2 border-green-500"
          ></div>
          <!-- Placeholder for more messages -->
        </div>
        <!-- Comment box -->
        <mentioner></mentioner>
      </div>
    </div>
  </div>
</div>
<router-outlet />
