<div class="relative bg-gray-800 p-4">
  <textarea
    #mentioner
    [(ngModel)]="message"
    (keydown)="handleKeyDown($event); autoGrow()"
    (keyup)="checkForAtSign()"
    class="w-full p-2 bg-gray-700 text-white rounded-md border border-gray-600 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none overflow-hidden"
    placeholder="Type your message here..."
    rows="1"
  ></textarea>
  <ul
    *ngIf="isMentionActive"
    class="absolute bottom-full left-0 right-0 bg-gray-800 border border-gray-600 mt-1 z-10"
  >
    <li
      *ngFor="let user of filteredUsers; let i = index"
      (click)="selectUser(user)"
      class="p-2 hover:bg-gray-700 cursor-pointer"
      [class.bg-blue-500]="selectedUserIndex === i"
      (mouseenter)="selectedUserIndex = i"
    >
      {{ user.name }}
    </li>
  </ul>
</div>
